.formDangKy{
    width: 759px;
    height: 689px;
    background-color: hsl(0deg 0% 90.2%);
    margin: 20px auto;
}
.content{
    width: 98%;
    height: 98%;
    background-color: hsl(0deg 0% 100%);
    margin: 0 auto;
    position: relative;
    top: 5px;
    border-radius: 5px;

}
.sub_content_1{
    width: 88%;
    height: auto;
    margin: 0 auto;

    text-align: center;
    position: relative;
    top: 30px;
}
.sub_content_1 span{
    font-size: 30px;
}
.sub_content_2{
    width: 88%;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 50px;
    background-color: hsl(0deg 0% 96.86%);
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px rgba(177, 172, 172, 0.62) solid;
}
.lable_content_2{
    margin-bottom: 10px;
}
.lable_content_2 span {
    font-size: 10px;
}
.name_content_2  {
    border: none;
    width: 300px;
    background-color: hsl(0deg 0% 96.86%) ;
}
.name_content_3  {
    border: none;
    width: 300px;
    background-color: hsl(0deg 0% 96.86%) ;
}
.name_content_4  {
    border: none;
    width: 300px;
    background-color: hsl(0deg 0% 96.86%) ;
}
.sub_content_3{

    width: 40%;
    height: auto;
    position: relative;
    margin: 0 auto;
    left: -179px;
    top: 70px;
    background-color: hsl(0deg 0% 96.86%);
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px rgba(177, 172, 172, 0.62) solid;
}

.sub_content_4{
    width: 40%;
    height: auto;
    position: relative;
    margin: 0 auto;
    right: -175px;
    top: -5px;
    background-color: hsl(0deg 0% 96.86%);
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px rgba(177, 172, 172, 0.62) solid;
}

.sub_content_5{
    width: 88%;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 16px;
    background-color: hsl(0deg 0% 96.86%);
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px rgba(177, 172, 172, 0.62) solid;
}
.fa-solid.fa-angle-up{
    position: absolute;
    right: 40px;
    top:25px;
}
.fa-solid.fa-chevron-down{
    position: absolute;
    right: 39px;
    top:35px;
}

.sub_content_6{

    width: 88%;
    height: 120px;
    position: relative;
    margin: 0 auto;
    top: 40px;

    background-color: hsl(0deg 0% 100%);
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px rgba(177, 172, 172, 0.62) solid;

}
.sub_content_7{
    width: 88%;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 80px;
    background-color: hsl(0deg 0% 20%);
    padding: 15px 10px;
    border-radius: 50px;
    border: 2px rgba(177, 172, 172, 0.62) solid;
    text-align: center;
}
.label_message{
    position: absolute;
    top: 30px;

}
.text-area{
    border-color: white;
}
.invalid{
    border: red 1px solid;
    background-color: rgba(255, 0, 0, 0.48);
}
.errorName{
    position: absolute;
    top: 80px;
    left: 0px;
    color: red;
}
.errorEmail{
    position: absolute;
    top: 85px;
    left: 0px;
    color: red;
}
.errorPhone{
    position: absolute;
    top: 80px;
    left: 0px;
    color: red;
}
.errorContent{
    position: absolute;
    top: 160px;
    left: 0px;
    color: red;
}
