/* Apply a background color and center the form */
body {
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-container {
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

/* Style input fields and labels */
.input-container {
    margin-bottom: 20px;
    margin-right: 35px;
    display: flex;
    align-items: baseline;
}
.input-icon {
 margin-right: 10px}
label {
    display: block;
    font-weight: bold;
    color: #7ED321;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder
{ color: #B8B8B8;
}

.terms-row {
    color: #B8B8B8;
}

/* Add space between payment method buttons */
.input-container-column {
    display: flex;
}

.dob-container input {
    width: 40px;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}
.gender-container
{
    display: flex
}
.gender-container #male, .gender-container #female  {
    flex:1;
}

.column-left,
 .column-right {
    flex: 1;
}

.gender-button {
    background-color: rgba(184, 184, 184, 0.23);
    color: #B8B8B8;
    border: rgba(221, 221, 221, 0.79) 2px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    height: 50px;

}
/* Style the buttons on hover */
.gender-button:hover {
    background-color: #7ED321;
    color: white;
}
.input-container-inline {
    display: flex;
}
.input-container-inline .cvc-container
/*.input-container-inline.buttons-container*/
{
    flex:1;
    align-items: baseline;
    display: flex;
}
.cvc-container{
    margin-right: 10px;
}
.input-container-inline .buttons-container {
    flex:1;
    display: flex;
    margin-left: 30px;
}
.buttons-container .buttons-container1,
.buttons-container .buttons-container2 {
    flex:1;
}
    /* Set a specific width for payment buttons to match card number input */
 .payment-button {
    width: 100%; /* Match the width of the input field */
    background-color: rgba(184, 184, 184, 0.23);
    color: #B8B8B8;
     border: rgba(221, 221, 221, 0.79) 2px solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 20px;
}
.payment-button:hover{
    background-color: #7ED321;
    color: white;
}
.fa {
    margin-bottom: -50px;
}