* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; /* Chiếm toàn bộ chiều cao của màn hình */
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex: 1;
    text-align: center;
    color: black;

}
section section {
    padding: 10px;
    text-align: -webkit-center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav {
    flex: 0.2;
    padding: 10px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}



article {
    flex: 3;
    padding: 10px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    padding: 10px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;

}
