body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    gap: 10px;
    margin: auto;
    justify-content: center;
}

button {
    height: 100px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}
